body,
html {
  height: 100%;
  margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 5fr;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 3;
    color: white;
    display: grid;
    gap: 15px;
    align-content: start;
    padding: 15px;
} 

.header {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.top_header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.bottom_header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.user {
    display: flex;
    gap: 3px;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

 .circle {
    border-radius:50%;
 }


.main-content {
    background-color: #bccbde;
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.right_main_content {
    gap: 20px;
}

.projects {
    grid-row: 1 / 3;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects_card_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.announcements_card {
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
}

.trending_card {
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
}

.projects_card {
    height: 200px;
    background-color: white;
    border-radius: 5px;
}